---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Trent Armitage" description="About Trent Armitage">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<!--<img
					width="1553"
					height="873"
					src="/assets/additional_image.jpg"
					alt="No Image"
				/>-->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Software Developer with five years of experience specializing in full stack development and data management. Proven track record in 
						managing small to mid-sized projects at CHR Solutions Inc., with proficiency in C#, SQL, .NET, Git, and GIS technologies. Seeking a 
						challenging Software Developer role to utilize my technical skills and passion for continuous learning. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Programming Languages</h2>
				<div class="content">
					<p> C# | XSLT | XML | SQL | .NET | HTML & CSS | JavaScript
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Development Tools</h2>
				<div class="content">
					<p>Git | SVN | Visual Studio | AWS | ESRI Products | SharePoint | Power Platform  </p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Soft Skills</h2>
				<div class="content">
					<p>Technical Proficiency | User Experience | Leadership | Communication</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.S Geography and Geographic Information Sciences | South Dakota State University </p>
					<p>A.A.S Computer Programming | Southeastern Technical Institute </p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
