---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Trent Armitage" description="About Trent Armitage">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<!--<img
					width="1553"
					height="873"
					src="/assets/additional_image.jpg"
					alt="No Image"
				/>-->
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Experienced and versatile Software Developer with a strong background in GIS (Geographic Information Systems) and three years of 
						hands-on software development experience. Proven ability to effectively collaborate with cross-functional teams, understand complex 
						requirements, and deliver high-quality code on time. Committed to continuous learning and staying updated with emerging trends in 
						software development and GIS technologies. Seeking opportunities to contribute expertise in GIS and software development to drive 
						innovation and deliver impactful solutions.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Professional Skills</h2>
				<div class="content">
					<p>Technical Proficiency | User Experience | Leadership | Communication | Process Improvement | Data 
						Management | Project Planning | Communications |Full Stack Development | Version Control
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Technical Skills</h2>
				<div class="content">
					<p>C# | XSLT | XML | SQL | .NET |Github | SVN | Visual Studio | Azure | AWS | ESRI Products | HTML & 
						CSS | JavaScript | Python</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>B.S Geography and Geographic Information Sciences | South Dakota State University | 2009 - 2013</p>
					<p>A.A.S Computer Programming | Southeastern Technical Institute | 2017 - 2019</p>
				</div>
			</section>
			
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
